<h1 class="mt-4">Conta</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ level.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            Módulo salvo/atualizado com sucesso!
          </div>
          <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
            {{ error }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nome: *</label>
            <input type="text" class="form-control" [(ngModel)]="level.description" name="name"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Idioma: *</label>
            <ng-select [(ngModel)]="languageSelected" name="language">
              <ng-option *ngFor="let language of languages" [value]="language.id">{{language.description}}</ng-option>
           </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-success" *ngIf="!level.id">
            <i class="fa fa-save"></i> Salvar
          </button>

          <button type="submit" class="btn btn-primary" *ngIf="level.id">
            <i class="fa fa-sync-alt"></i> Atualizar
          </button>

          <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
            <i class="fa fa-arrow-alt-circle-left"></i> Voltar
          </button>
        </div>
      </div>

      <br/>

      <app-book-editor *ngIf="level.id"></app-book-editor>
  </form>
</div>
