<h1 class="mt-4">Módulos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="mensagemSucess">
        {{mensagemSucess}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
        {{ mensagemErro }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="novoCadastro()">
        <i class="fa fa-plus"></i> Novo
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Descrição</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let level of levels">
              <td>{{ level.description }}</td>
              <td>
                <button class="btn btn-primary"
                   routerLink="/level/form/{{level.id}}">
                  <i class="fa fa-edit"></i>
                </button>

                <button class="btn btn-danger" (click)="preparaDelecao(level)"
                data-bs-toggle="modal" data-bs-target="#modalDelecao">
                  <i class="fa fa-trash"></i>
                </button>

                <button class="btn btn-info" routerLink="/level/book-view/{{level.id}}">
                  <i class="fa fa-eye"></i>
                </button>
              </td>
            </tr>
        </tbody>
      </table>

       <mat-paginator [length]="totalElementos"
              [pageSize]="tamanho"
              (page)="listBooks($event.pageIndex, 10)"
              aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>
        <div class="modal-body" *ngIf="bookSelecionado">
            Confirma a deleção do(a) aluno {{bookSelecionado.description}}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deleteBook()" data-bs-dismiss="modal">Confirma</button>
          <button class="btn btn-default" data-bs-dismiss="modal">Cancela</button>
        </div>
      </div>
    </div>
  </div>
</div>
